.columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin: 0 10px;
    color: black;
    font-size: 30px;
  }

